<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
  <% }) %>
  </ul>
<% } %>

<form class="inv-form account-form inv-form--wide" action="/inv/delete" method="post">
  <fieldset>
    <p>Confirm deletion - The delete is permanent.</p>

    <label for="inv_make">Make</label>
    <input type="text" name="inv_make" id="inv_make" readonly value="<%= locals.inv_make %>">

    <label for="inv_model">Model</label>
    <input type="text" name="inv_model" id="inv_model" readonly value="<%= locals.inv_model %>">

    <label for="inv_year">Year</label>
    <input type="text" name="inv_year" id="inv_year" readonly value="<%= locals.inv_year %>">

    <label for="inv_price">Price (USD)</label>
    <input type="number" name="inv_price" id="inv_price" readonly value="<%= locals.inv_price %>">

    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>

    <button type="submit">Delete</button>
  </fieldset>
</form>

<p class="inv-form__back">
  <a href="/inv/">Back to management</a>
</p>
